[Unit]
Description=trojan-go-fork - An unidentifiable mechanism that helps you bypass GFW
Documentation=https://github.com/potterli20/trojan-go-fork/
After=network.target nss-lookup.target

[Service]
User=nobody
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStart=/usr/bin/trojan-go-fork -config /etc/trojan-go-fork/%i.json
Restart=on-failure
RestartSec=10s
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
